body {
  /* background-color: red !important; */
  scrollbar-width: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none !important;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

::-webkit-scrollbar {
  display: none;
}
