@use "../../../../../scss/abstract/" as *;

.boxs {
    width: 100%;
    // height: 100vh;
    // overflow: hidden;
    .image-persons {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}
